In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
import seaborn as sns

In [2]:
math_data = pd.read_csv('./data/student-alcohol-consumption/student-mat.csv')
port_data = pd.read_csv('./data/student-alcohol-consumption/student-por.csv')

In [3]:
math_data.shape, port_data.shape

((395, 33), (649, 33))

In [4]:
math_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
port_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [31]:
port_data['subject']='P'
math_data['subject']='M'

In [33]:
port_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,P
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,P
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,P
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,P
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,P

In [6]:
math_data.info(),port_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null object
Fjob          649 non-null object
reason        649 non-null object
guardian      649 non-null object
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

(None, None)

In [34]:
total_data = pd.concat(objs=[math_data, port_data],axis=0)

In [35]:
total_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'subject'],
      dtype='object')

In [37]:
total_data.corr()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.000000,-0.130196,-0.138521,0.049216,-0.007870,0.282364,0.007162,0.002645,0.118510,0.133453,0.098291,-0.029129,0.153196,-0.124121,-0.119475,-0.125282
Medu,-0.130196,1.000000,0.642063,-0.238181,0.090616,-0.187769,0.015004,0.001054,0.025614,0.001515,-0.029331,-0.013254,0.059708,0.226101,0.224662,0.201472
Fedu,-0.138521,0.642063,1.000000,-0.196328,0.033458,-0.191390,0.013066,0.002142,0.030075,-0.000165,0.019524,0.034288,0.040829,0.195898,0.182634,0.159796
traveltime,0.049216,-0.238181,-0.196328,1.000000,-0.081328,0.087177,-0.012578,-0.007403,0.049740,0.109423,0.084292,-0.029002,-0.022669,-0.121053,-0.140163,-0.102627
studytime,-0.007870,0.090616,0.033458,-0.081328,1.000000,-0.152024,0.012324,-0.094429,-0.072941,-0.159665,-0.229073,-0.063044,-0.075594,0.211314,0.183167,0.161629
failures,0.282364,-0.187769,-0.191390,0.087177,-0.152024,1.000000,-0.053676,0.102679,0.074683,0.116336,0.107432,0.048311,0.099998,-0.374175,-0.377172,-0.383145
famrel,0.007162,0.015004,0.013066,-0.012578,0.012324,-0.053676,1.000000,0.136901,0.080619,-0.076483,-0.100663,0.104101,-0.062171,0.036947,0.042054,0.054461
freetime,0.002645,0.001054,0.002142,-0.007403,-0.094429,0.102679,0.136901,1.000000,0.323556,0.144979,0.130377,0.081517,-0.032079,-0.051985,-0.068952,-0.064890
goout,0.118510,0.025614,0.030075,0.049740,-0.072941,0.074683,0.080619,0.323556,1.000000,0.253135,0.399794,-0.013736,0.056142,-0.101163,-0.108411,-0.097877
Dalc,0.133453,0.001515,-0.000165,0.109423,-0.159665,0.116336,-0.076483,0.144979,0.253135,1.000000,0.627814,0.065515,0.132867,-0.150943,-0.131576,-0.129642
Walc,0.098291,-0.029331,0.019524,0.084292,-0.229073,0.107432,-0.100663,0.130377,0.399794,0.627814,1.000000,0.106669,0.139703,-0.142401,-0.128114,-0.115740
health,-0.029129,-0.013254,0.034288,-0.029002,-0.063044,0.048311,0.104101,0.081517,-0.013736,0.065515,0.106669,1.000000,-0.027479,-0.060478,-0.088001,-0.080079
absences,0.153196,0.059708,0.040829,-0.022669,-0.075594,0.099998,-0.062171,-0.032079,0.056142,0.132867,0.139703,-0.027479,1.000000,-0.092425,-0.089332,-0.045671
G1,-0.124121,0.226101,0.195898,-0.121053,0.211314,-0.374175,0.036947,-0.051985,-0.101163,-0.150943,-0.142401,-0.060478,-0.092425,1.000000,0.858739,0.809142
G2,-0.119475,0.224662,0.182634,-0.140163,0.183167,-0.377172,0.042054,-0.068952,-0.108411,-0.131576,-0.128114,-0.088001,-0.089332,0.858739,1.000000,0.910743
G3,-0.125282,0.201472,0.159796,-0.102627,0.161629,-0.383145,0.054461,-0.064890,-0.097877,-0.129642,-0.115740,-0.080079,-0.045671,0.809142,0.910743,1.000000

In [39]:
duplicated_data = total_data[total_data.duplicated(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences',],keep=False)]

In [49]:
duplicated_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,M
14,GP,M,15,U,GT3,A,2,2,other,other,...,5,2,1,1,3,0,14,16,16,M
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,1,1,1,1,0,13,14,15,M
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,M
30,GP,M,15,U,GT3,T,4,4,health,services,...,4,2,3,4,5,0,9,11,12,M

In [73]:
duplicated_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,M
14,GP,M,15,U,GT3,A,2,2,other,other,...,5,2,1,1,3,0,14,16,16,M
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,1,1,1,1,0,13,14,15,M
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,M
30,GP,M,15,U,GT3,T,4,4,health,services,...,4,2,3,4,5,0,9,11,12,M
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,...,5,2,1,1,5,0,17,16,16,M
33,GP,M,15,U,LE3,T,3,3,other,other,...,3,2,1,1,2,0,8,10,12,M
41,GP,M,15,U,LE3,T,4,4,teacher,other,...,4,3,2,4,5,8,12,12,12,M
43,GP,M,15,U,GT3,T,2,2,services,services,...,4,1,1,1,1,0,8,8,11,M
44,GP,F,16,U,LE3,T,2,2,other,at_home,...,3,3,2,2,5,14,10,10,9,M
64,GP,F,15,U,LE3,T,4,3,services,services,...,4,4,2,4,2,0,10,10,10,M
65,GP,F,16,U,LE3,T,4,3,teacher,services,...,4,3,1,2,1,2,16,15,15,M
71,GP,M,15,U,GT3,T,4,2,other,other,...,3,3,1,1,3,0,10,10,10,M
84,GP,F,15,U,GT3,T,1,1,other,other,...,3,2,2,3,4,2,9,10,10,M
87,GP,F,15,U,GT3,T,4,2,other,other,...,3,3,1,3,1,4,13,14,14,M
101,GP,M,16,U,GT3,T,4,4,services,teacher,...,4,3,1,1,4,0,16,17,17,M
105,GP,F,15,U,GT3,A,3,3,other,health,...,3,3,1,1,4,10,10,11,11,M
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,19,19,M
126,GP,F,15,U,LE3,A,3,4,other,other,...,3,2,1,1,1,0,7,10,11,M
151,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,4,3,5,5,6,12,13,14,M
154,GP,F,17,U,GT3,T,4,4,other,teacher,...,2,1,1,1,4,0,11,11,12,M
157,GP,F,18,R,GT3,T,1,1,at_home,other,...,2,5,1,5,4,6,9,8,10,M
177,GP,M,17,U,GT3,T,3,3,other,other,...,3,4,1,4,4,4,6,5,6,M
182,GP,F,17,U,GT3,T,2,4,services,services,...,4,2,2,3,5,0,16,17,17,M
191,GP,F,17,U,GT3,T,1,1,at_home,services,...,3,3,1,1,3,0,8,8,9,M
194,GP,M,16,U,GT3,T,2,3,other,other,...,3,3,1,1,3,0,13,14,14,M
196,GP,M,17,U,GT3,T,4,4,services,teacher,...,2,3,1,2,5,4,17,15,16,M
200,GP,F,16,U,GT3,T,4,3,health,other,...,3,5,1,5,2,2,16,16,16,M
238,GP,F,17,R,GT3,T,2,1,at_home,services,...,1,1,1,1,3,2,13,11,11,M
254,GP,M,17,R,GT3,T,2,1,other,other,...,4,2,2,4,5,0,8,12,12,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,GP,F,16,U,LE3,T,2,2,other,at_home,...,3,3,2,2,5,14,10,11,11,P
64,GP,F,15,U,LE3,T,4,3,services,services,...,4,4,2,4,2,0,13,12,12,P
65,GP,F,16,U,LE3,T,4,3,teacher,services,...,4,3,1,2,1,2,16,15,16,P
71,GP,M,15,U,GT3,T,4,2,other,other,...,3,3,1,1,3,0,11,9,10,P
84,GP,F,15,U,GT3,T,1,1,other,other,...,3,2,2,3,4,2,13,12,12,P
87,GP,F,15,U,GT3,T,4,2,other,other,...,3,3,1,3,1,4,15,15,15,P
101,GP,M,16,U,GT3,T,4,4,services,teacher,...,4,3,1,1,4,0,16,16,16,P
105,GP,F,15,U,GT3,A,3,3,other,health,...,3,3,1,1,4,10,10,10,10,P
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,17,18,P
126,GP,F,15,U,LE3,A,3,4,other,other,...,3,2,1,1,1,0,10,11,11,P
164,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,4,3,5,5,6,9,10,10,P
167,GP,F,17,U,GT3,T,4,4,other,teacher,...,2,1,1,1,4,0,13,13,13,P
170,GP,F,18,R,GT3,T,1,1,at_home,other,...,2,5,1,5,4,6,11,10,11,P
191,GP,M,17,U,GT3,T,3,3,other,other,...,3,4,1,4,4,4,11,9,10,P
196,GP,F,17,U,GT3,T,2,4,services,services,...,4,2,2,3,5,0,17,18,17,P
205,GP,F,17,U,GT3,T,1,1,at_home,services,...,3,3,1,1,3,0,12,11,12,P
208,GP,M,16,U,GT3,T,2,3,other,other,...,3,3,1,1,3,0,13,12,12,P
210,GP,M,17,U,GT3,T,4,4,services,teacher,...,2,3,1,2,5,4,13,13,14,P
214,GP,F,16,U,GT3,T,4,3,health,other,...,3,5,1,5,2,2,14,14,15,P
261,GP,F,17,R,GT3,T,2,1,at_home,services,...,1,1,1,1,3,2,13,13,13,P
286,GP,M,17,R,GT3,T,2,1,other,other,...,4,2,2,4,5,0,12,12,13,P
375,GP,F,17,U,LE3,T,0,2,at_home,at_home,...,3,3,2,3,2,0,14,14,15,P
389,GP,F,18,U,LE3,T,2,2,other,other,...,3,3,1,1,2,0,10,9,12,P
580,MS,M,19,R,GT3,T,1,1,other,other,...,4,4,3,3,5,4,8,9,10,P
613,MS,F,18,U,GT3,T,3,3,services,services,...,3,4,1,1,5,0,10,10,10,P
617,MS,F,18,U,LE3,T,1,1,at_home,services,...,3,2,1,1,4,0,19,17,18,P
621,MS,F,17,R,GT3,T,1,2,other,services,...,2,2,1,2,3,0,13,13,13,P
628,MS,F,17,U,GT3,T,2,2,other,at_home,...,4,3,1,1,3,8,10,11,12,P
630,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,15,17,17,P
639,MS,M,19,R,GT3,T,1,1,other,services,...,3,2,1,3,5,0,5,8,0,P

In [72]:
duplicated_data[(duplicated_data['school']=='GP') & (duplicated_data['sex']=='M') &
               (duplicated_data['address']=='U') & (duplicated_data['Pstatus']=='T') & 
               (duplicated_data['famsize']=='LE3')]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,M
33,GP,M,15,U,LE3,T,3,3,other,other,...,3,2,1,1,2,0,8,10,12,M
41,GP,M,15,U,LE3,T,4,4,teacher,other,...,4,3,2,4,5,8,12,12,12,M
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,19,19,M
151,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,4,3,5,5,6,12,13,14,M
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,13,12,13,P
33,GP,M,15,U,LE3,T,3,3,other,other,...,3,2,1,1,2,0,13,12,12,P
41,GP,M,15,U,LE3,T,4,4,teacher,other,...,4,3,2,4,5,8,10,11,11,P
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,17,18,P
164,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,4,3,5,5,6,9,10,10,P